<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<ul>

    <li><a th:href="@{/variables/string/hola juan}">/variables/string/ hola juan </a> </li>
    <li><a th:href="@{/variables/string/walas no sabe nada }">/variables/string/ walas no sabe nada </a> </li>
    <li><a th:href="@{/variables/string/loquito/7}">/variables/string/loquito/7 </a> </li>

    <!-- esta es la forma de comentar en html -->
</ul>
</body>
</html>