<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<div th:if="${users.size()==0}">No existe usuarios en la lista</div>

<table th:if="${users.size()>0}">
<thead>
<tr>Name</tr>
<tr>LastName</tr>
<tr>Email</tr>
</thead>
<tbody>

<tr th:each="user: ${users}">

  <td th:text="${user.name}"></td>
  <td th:text="${user.lastName}"></td>
  <td th:text="${user.email}"></td>
</tr>
</tbody>
</table>
</body>
</html>